*{
    margin: 0; 
    padding: 0; 
}

.project-name {
    text-align: center; 
    margin-top: 0px; 
}

.navbar { 
    position: sticky; 
    top: 0px; 
}
.nav-item a {
    font-weight: 600;
}
.nav-item:hover { 
    background-color: pink; 
}
.dropdown-toggle::after {
    display:none;
}
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
  transition: 1s; 
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item:hover {
    background-color: pink;
}

.tutorial{
    text-align: center; 
}

.flip-card {
  border-radius: 25px;
  background-color: transparent;
  width: 250px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    border-radius: 25px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    border-radius: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    border-radius: 25px;
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
    border-radius: 25px;
  background-color: rgb(26, 18, 22);
  color: white;
  transform: rotateY(180deg);
}
.team{
    align-content: center;
}
.team h1{
    text-align: center;
}
.relative {
  margin-top:50px;
  margin-bottom:50px;
  margin-left:50px;
  margin-right:50px;
  position: relative;
  left: 30px;
  
}

.ourwork {
    margin-right:50px;
    margin-left:50px;
    background-color:#fff8e1;
    text-align:center;
     position: relative;
}
section {
    float: left; 
    width: 100%; 
    height: calc(100vh - 63px);  
    scroll-behavior: smooth; 
    overflow-y: scroll; 
}